<!DOCTYPE html>

{% load static %} <!-- New line -->

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says...hello world!</h1>
      
  	{% if categories %}
         <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a></li>
            {% endfor %}
         </ul>
        {% else %}
            <strong>There are no categories in the database.</strong>
        {% endif %}

		<a href="/rango/add_category/">Add a New Category</a>

        <a href="/rango/about/">About</a><br />
        <img src="{% static "download.jpeg" %}" alt="Picture of Rango" /> 

    </body>

</html>